* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
  }
  
  .navbar {
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 77px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08); /* 9 del 12 del 18*/
  }
  
  .logo {
    width: 95px;
    height: 83.64px;
  }
  
  .nav-items {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .contacto {
    color: #7D71E6;
    font-weight: 600;
    font-size: 26px;
    line-height: 24px;
    text-align: center;
    border:none;
    background-color: #FFFFFF;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
  }
.contacto:hover {
  transform: scale(1.03);
}
  
  .btn-login {
    width: 225px;
    height: 77px;
    border-radius: 20px;
    background-color: rgba(125, 113, 230, 0.25);
    border: none;
    font-size: 26px;
    font-weight: 600;
    color: #7D71E6;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
  }
  .btn-login:hover {
    transform: scale(1.03);
  box-shadow: 0 0 25px rgba(125, 113, 230, 0.4);
  }
  
  
  .btn-register {
    width: 225px;
    height: 77px;
    border-radius: 20px;
    background-color: #7D71E6;
    border: none;
    font-size: 26px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
  }
.btn-register:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(125, 113, 230, 0.4);
}
  .main {
    padding: 50px 94px;
    max-width: 1440px;
  }
  
  
  .titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 96px;
    width: 820px;
    height: 262px;
    text-align: left;
    margin-top: 138px;
  }
  
  
  .subtitulo {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 24px;
    width: 789px;
    height: 85px;
    margin-top: 39px;
    text-align: left;
  }
  
  
  .acciones {
    display: flex;
    gap: 40px;
    margin-top: 40px;
  }
  
  
  .btn-get-started {
    width: 251.11px;
    height: 77px;
    border-radius: 20px;
    background-color: #7D71E6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 26px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
  }
.btn-get-started:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(125, 113, 230, 0.4);
}
  
  
  .btn-como-funciona {
    width: 251.11px;
    height: 77px;
    border-radius: 20px;
    border: 2px solid #7D71E6;
    background-color: white;
    color: #7D71E6;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
  }
.btn-como-funciona:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(125, 113, 230, 0.4);
}

.team {
  background-color: #7D71E6;
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 100px;
}
.tituloteam {
  font-size: 50px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
}
.equipo {
  display: flex;
  flex-direction: column;
   width: fit-content;
   align-items: flex-start;
   margin-left: 20%;
}
.mauro {
  display: flex;
  align-items: center;
  gap:16px;
  padding-top: 40px;
}
.maurotexto {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}
.maurotitulo {
  font-size: 40px;
  font-weight: 600;
  color: #FFFFFF;
}
.maurotexto p{
  font-size: 32px;
  font-weight: 600;
  color: #FFFFFF;
}
.mauritoref{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10cm;
  transition: all 0.3s ease;
}
.maurito {
  align-items: flex-end;
  display: flex;
  margin-left: 10cm;
}
.mauritoref:hover{
  transform: scale(1.03);
}
.joaco {
  display: flex;
  align-items: center;
  gap:16px;
  padding-top: 40px;
}
.joacotexto {
}
.joacotitulo {
  font-size: 40px;
  font-weight: 600;
  color: #FFFFFF;
}
.joacotexto p{
  font-size: 32px;
  font-weight: 600;
  color: #FFFFFF;
}
.churritoref{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 6.9cm;
  transition: all 0.3s ease;
}
.churrito{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 6.9cm;
}
.churritoref:hover{
  transform: scale(1.03);
}

.marto {
  display: flex;
  align-items: center;
  gap:16px;
  padding-top: 40px;
}
.martotexto {
}
.martotitulo {
  font-size: 40px;
  font-weight: 600;
  color: #FFFFFF;
}
.martotexto p{
  font-size: 32px;
  font-weight: 600;
  color: #FFFFFF;
}
.martitoref{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 7.3cm;
  transition: all 0.3s ease;
}
.martito{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 7.3cm;
}
.martitoref:hover{
  transform: scale(1.03);
}
.beneficios {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.beneficiostitulo {
  margin-top: 59px;
  font-size: 64px;
  font-weight: 600;
}
.beneficiostexto {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  margin-top: 59px;
}
.pruebaahora {
    width: 251.11px;
    height: 77px;
    border-radius: 20px;
    background-color: #7D71E6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 26px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 59px;
    transition: all 0.3s ease;
}

.pruebaahora:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(125, 113, 230, 0.4);
}

#comofunciona {}
.titulocomo {
  text-align: center;
  margin-top: 119px;
  font-size: 64px;
  font-weight: 600;
}
.pasos {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 59px;
  margin-left: 23%;
  gap: 60px;
}
.paso1 {
  display: flex;
  align-items: center;
}
.circulo1 {}
.conta {
  font-size: 48px;
  font-weight: 600;
  margin-left:80px;
}
.paso2 {
  display: flex;
  align-items: center;
}
.circulo2 {}
.entrena {
  font-size: 48px;
  font-weight: 600;
  margin-left:80px;
}
.paso3 {
  display: flex;
  align-items: center;
}
.circulo3 {}
.devolve {
  font-size: 48px;
  font-weight: 600;
  margin-left:80px;
}

.elfooter {
  display: flex;
}
.footer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7D71E6;
  width: 100%;
  margin-top: 89px;
  height: 110px;
}
.derechos {
  font-family: 'Mulish', sans-serif ;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  padding-left: 40px;
}
.support {
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.redes {
  display: flex;
  margin-left: 40px;
  gap:20px;
  padding-right: 180px;
  transition: all 0.3s ease;
  
}
.ytimg:hover {
  transform: scale(1.03);
}
.igimg:hover {
  transform: scale(1.03);
}
.gitimg:hover {
  transform: scale(1.03);
}
.supportimg:hover {
  transform: scale(1.03);
}

  a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
}